.deerlake-gallery-tab {
  width: 100vw;
  padding: 80px 148px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.deerlake-gallery-tab__images {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.deerlake-gallery-tab__images img {
  width: 100%;
  height: auto;
  display: block;
}
