.twoam-design-tab {
  width: 100vw;
  padding: 80px 148px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.twoam-design-tab__image {
  width: 100%;
  padding-top: 72px;
  display: flex;
  justify-content: center;
}

.twoam-design-tab__image img {
  width: 60%;
  height: auto;
  display: block;
}

.twoam-design-tab__subsections {
  width: 100%;
}

.twoam-design-tab__subsections img {
  display: block;
  margin: 0 auto;
}
