.home {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  animation: fadeIn 3s ease-out 1s forwards;
}

.home__cube {
  display: block;
  opacity: 0;
  animation: fadeIn 3s ease-out 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
